
<h3>Vehicles Payment </h3>

<%= form_for @vehicle_payment do |t| %>
	<% if @vehicle_payment.errors.any? %>
		<h3>These errors prohibited this <%= @vehicle_payment.class %> from being saved</h3>
		<ul>
		<% for msg in @vehicle_payment.errors.full_messages %>
			<li><%= msg %></li>
			<% end -%>
		</ul>
	<% end -%>
	
	<label>Payment Type </label><br/>
	<%= t.select :amount_type,["Down-payment","EMI","Fuel","Driver salary","Service"],prompt:"select_record"%><br/>

	<label>Amount Paid </label><br/>
	<%= t.text_field :amount_paid %><br/>

	<label>Payment Date</label></br>
	<%= t.date_select :payment_date,order: [:day,:month,:year],include_blank:true,start_year:Date.today.year %><br/>
	
	<label>Mode of Payment</label><br/>
	<%= t.select :mode_of_payment,["Cash","Card"],prompt:"select_record"%><br/>

	<%= t.submit "Submit"%><br/>

<% end -%>
