<h4>Listing Vehicles </h4>

<table border="1">

	<thead>
		<tr>
			<th>VehicleName</th>
			<th>RegistrationNumber</th>
			<th>Actions </th>
			
		</tr>
	</thead>
		<tbody>
			<tr>
				<% for vehicle in @vehicles %>
					<td><%= vehicle.name %></td>
					<td><%= vehicle.reg_no %></td>	
					<td><%= link_to "Show",vehicle_path(vehicle.id) %> |
						<%= link_to "Edit",edit_vehicle_path(vehicle.id) %> |
						<%= link_to "Delete",vehicle_path(vehicle.id), method: :delete,data:{confirm: "Are you sure"}%>
			</td>
		
			</tr>
		</tbody>
<% end %>
</table>
<br/>
<%= link_to "Add Vehicle", new_vehicle_path %><br/>





