<h3>Vehicles</h3>

<%= form_for @vehicle do |t| %>
	<% if @vehicle.errors.any? %>
		<h3>These errors prohibited this <%= @vehicle.class %> from being saved</h3>
		<ul>
		<% for msg in @vehicle.errors.full_messages %>
			<li><%= msg %></li>
			<% end -%>
		</ul>
	<% end -%>

	
	<label>Name: </label></br>
	<%= t.text_field :name %><br/>

	<label>Vehicle Type </label><br/>
	<%= t.select :vehicle_type,["Sedan","Suv","Minivan"],prompt:"select_vehicle"%><br/>

	<label>Registration Number</label></br>
	<%= t.text_field :reg_no %><br/>

	<label>Chassis Number: </label></br>
	<%= t.text_field :chassis_no %><br/>

	<label>Engine Number: </label></br>
	<%= t.text_field :engine_no %><br/>

	<%= t.submit "Submit"%>

<% end -%>

<!--
<%= link_to "New vehicle",new_vehicle_path %>
-->

