<%= link_to "Edit",edit_vehicle_path(@vehicle.id) %> |
<%= link_to "Delete",vehicle_path(@vehicle.id), method: :delete,data:{confirm: "Are you sure"}%>


<h3>Vehicle details</h3>
<ul>
	<li>Name:<%= @vehicle.name %></li>
	<li>Type of the vehicle: <%= @vehicle.vehicle_type %><br/></li>
	<li>Registration number: <%= @vehicle.reg_no %><br/></li>

</ul>

<h4>Vehicle Record Details </h4>
	<% for vehicle_record in @vehicle.vehicle_records %> 
<ul>
	<li>Vehicle Record type: <%= vehicle_record.record_type %><br/></li>
	
	<li>Vehicle Expiration Date: <%= vehicle_record.expiration_date %><br/></li>

</ul>
<% end %>


<h4>Vehicle Payment Details </h4>
	<% for vehicle_payment in @vehicle.vehicle_payments %> 
<ul>
	<li>Payment type: <%= vehicle_payment.amount_type %><br/></li>
	<li>Amount Paid: <%= vehicle_payment.amount_paid %><br/></li>
	<li>Payment Date: <%= vehicle_payment.payment_date %><br/></li>
	<li>Mode of Payment: <%= vehicle_payment.mode_of_payment %><br/></li>

</ul>
<% end %>
<h4>Accessories Details</h4>
	<% for accessory in @vehicle.accessories %> 
<ul>
	<li>Name Of Accessory: <%= accessory.name %><br/></li>
	<li>Cost: <%= accessory.cost %><br/></li>

</ul>
<% end %>

<h3>Add Vehicle Record </h3>

<%= form_for @vehicle_record do |t|%>
	<% if @vehicle_record.errors.any? %>
		<h3>These errors prohibited this <%= @vehicle_record.class %> from being saved</h3>
		<ul>
		<% for msg in @vehicle_record.errors.full_messages %>
			<li><%= msg %></li>
			<% end -%>
		</ul>
	<% end -%>

	<label>Record Type </label><br/>
	<%= t.select :record_type,["RC","Emission","Insurance"],prompt:"select_record"%><br/>

	<label>Expiration Date</label></br>
	<%= t.date_select :expiration_date,order: [:day,:month,:year],include_blank:true,start_year:Date.today.year %><br/>
	
	<%= t.hidden_field :vehicle_id,value: @vehicle.id %>
<br/>
	
	<%= t.submit "Submit"%><br/>

<% end -%>


<h3>Add Vehicle Payment Details </h3>

<%= form_for @vehicle_payment do |t| %>
	<% if @vehicle_payment.errors.any? %>
		<h3>These errors prohibited this <%= @vehicle_payment.class %> from being saved</h3>
		<ul>
		<% for msg in @vehicle_payment.errors.full_messages %>
			<li><%= msg %></li>
			<% end -%>
		</ul>
	<% end -%>
	
	<label>Payment Type </label><br/>
	<%= t.select :amount_type,["Down-payment","EMI","Fuel","Driver salary","Service"],prompt:"select_record"%><br/>

	<label>Amount Paid </label><br/>
	<%= t.text_field :amount_paid %><br/>

	<label>Payment Date</label></br>
	<%= t.date_select :payment_date,order: [:day,:month,:year],include_blank:true,start_year:Date.today.year %><br/>
	
	<label>Mode of Payment</label><br/>
	<%= t.select :mode_of_payment,["Cash","Card"],prompt:"select_record"%><br/>
	<%= t.hidden_field :vehicle_id,value: @vehicle_id %>
<br/>

	<%= t.submit "Submit"%><br/>

<% end -%>


<%# link_to "Add Vehicle Record ",new_vehicle_record_path %><br/>

<%# link_to "Add Vehicle Payment Details ",new_vehicle_payment_path %><br/>
<%#link_to "Add Accessory Details",new_accessory_path %><br/>

<!--
<h3> Vehicle Record Details </h3>
<%= link_to @vehicle.vehicle_records,vehicle_records_path(@vehicle) %>

<h3>Total Vehicle Records <%= @vehicle.vehicle_records.count%></h3>
-->
<%= link_to "Back", vehicles_path %>

